<p>registro works!</p>
<form>
    
    <div class="form-row ">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Apellidos</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Apellidos">
          </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Contraseña">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">NIF</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="x12345678w / 12345678w">
    </div>
   


    <button type="submit" class="btn btn-primary">Registrate</button>
  </form>